Dockerfile
.env
app/factory/.env
app/factory/.env.example
app/factory/.env.production
.dockerignore
node_modules
npm-debug.log
README.md
.next
.git
.jest_cache
.docker-compose
.vscode
.terraform
.husky
.github