Dockerfile
.env
app/factory/.env
app/factory/.env.local
app/factory/.env.example
app/factory/.env.production
app/factory/node_modules
app/factory/.next
.dockerignore
node_modules
npm-debug.log
README.md
.next
.git
.jest_cache
.docker-compose
.vscode
.terraform
.husky
.github
apps/factory/node_modules/