@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sugarhub-main-color: #1c1c1c;
  --sugarhub-ternary-bg-color: #686868;
  --sugarhub-text-color: #ffffff;
  --sugarhub-card-color: #454545;
  --sugarhub-tab-color: #262b32;
  --sugarhub-table-color: #1f1f1f;
  --sugarcube-component-bg-color: #57667c;
  --button-color-disable: #abaeb4;
  /* --template-bg-color:#141313; */
  --modal-bg-color: #383838;
  --divider-color: #505050;
}

.bouncing-loader {
  display: flex;
  justify-content: center;
}

.bouncing-loader > div {
  width: 7px;
  height: 7px;
  margin: 1px 2px;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 1;
  animation: bouncing-loader 0.6s infinite alternate;
}

@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translateY(-1px);
  }
}

.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}

.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}
