@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sugarhub-main-color: #1c1c1c;
  --sugarhub-ternary-bg-color: #686868;
  --sugarhub-text-color: #ffffff;
  --sugarhub-card-color: #454545;
  --sugarhub-tab-color: #262b32;
  --sugarhub-table-color: #1f1f1f;
  --sugarcube-component-bg-color: #57667c;
  --button-color-disable: #abaeb4;
  /* --template-bg-color:#141313; */
}
