@tailwind base;
@tailwind components;
@tailwind utilities;

.sai-vf-container {
  @apply m-4 mx-auto w-full rounded-lg h-[65dvh] flex items-center justify-center
}


.sai-vq-container {
  @apply p-4 bg-slate-50 dark:bg-gray-800 rounded-lg max-w-3xl mx-auto w-full;
  @apply dark:shadow-lg dark:shadow-gray-900; /* Add shadow for dark mode */
}

.sai-vq-text-input {
  @apply rounded-lg border border-gray-500 max-h-24 px-4 py-3 bg-gray-100 text-sm placeholder-gray-500 disabled:cursor-not-allowed disabled:opacity-50 w-full flex items-center h-16 resize-y focus:ring focus:ring-gray-300 focus:border-gray-500;
  @apply dark:bg-gray-700 dark:placeholder-gray-400;
}

.sai-vf-actions-container {
  @apply fixed bottom-0 left-0 right-0 p-2 bg-white dark:bg-gray-800 border-t border-gray-200 dark:border-gray-500
}

.sai-vf-actions {
  @apply flex justify-between items-center w-full max-w-3xl mx-auto pb-4 space-x-2;
  @apply dark:shadow-md dark:shadow-gray-900; /* Add subtle shadow for action buttons in dark mode */
}

.sai-vf-action {
  @apply p-2 dark:text-white rounded-lg shadow-md hover:bg-gray-400 dark:hover:bg-gray-500 focus:outline-none focus:ring-2 focus:ring-gray-500;
  @apply dark:shadow-lg dark:shadow-gray-600;
}


.mic-buttons {
  @apply flex items-center gap-2;
}

.mic-button {
  @apply flex items-center justify-center w-12 h-12 rounded-full border-none text-white cursor-pointer transition-colors duration-300;
  background-color: #007bff; /* Main color */
}

.mic-button.listening {
  @apply animate-pulse;
}

.mic-button.evaluating,
.mic-button.waiting {
  @apply border-4 border-t-4 border-gray-200 rounded-full;
  border-top-color: #3498db; /* Blue color for the spinner */
  width: 3rem; /* 48px */
  height: 3rem; /* 48px */
  animation: spin 1s linear infinite;
}

.mic-button.disabled {
  @apply bg-gray-500 cursor-not-allowed;
}

.mic-icon {
  @apply text-2xl;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.highlight {
  @apply outline-none border-2 border-yellow-500;
}

.highlighted-selected {
  /* background-color: gray */
  @apply bg-gray-300 dark:bg-gray-400;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  .highlight {
    @apply outline-none border-2 border-yellow-200;
  }
}

/* Dark mode styles */
/* .dark .highlighted-selected {
  background-color: 
} */

.bottom-bar {
  @apply fixed bottom-0 left-0 right-0 p-2 bg-gray-100 dark:bg-gray-900 border-t border-gray-300 dark:border-gray-700;
}

.transcript-container {
  @apply flex justify-between items-center px-4;
}

.transcript {
  @apply text-gray-800 dark:text-white;
}

.counter {
  @apply text-lg text-gray-800 dark:text-gray-200;
}
